<div class="wrapper">
  <div class="main_header">
    <div class="header_title">
      <div class="title">顧客管理アプリ</div>
    </div>
      <div class="header_lists">
      <% if user_signed_in? %>
      <ul class="lists">
          <li class="login_list">
           <%= "こんにちは、#{current_user.name}さん" %>
          </li>
          <li class="right_list">
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete,class: "login" %>
          </li>
        </ul>
        <% else %>
           <ul class="lists">
          <li class="left_list">
           <%= link_to "新規登録", new_user_registration_path, class: "sign_up"  %>
          </li>
          <li class="right_list">
          <%= link_to "ログイン", new_user_session_path, class: "login" %>
          </li>
        </ul>
      <% end %>
      </div>
  </div>
  
  <div class="main">
  <% if user_signed_in? %>
    <ul class="contents">
      <li class="upper_content">
        <%= link_to "顧客情報作成",new_customer_path %>
      </li>
      <li class="middle_content">
        <%= link_to "顧客情報一覧", customers_path %>
      </li>
      <li class="lower_content">
        <%= link_to "月別データ", aggregate_result_customers_path %>
      </li>
    </ul>
  <% end %>
  </div>
</div>